body {
  font-family: 'Lobster', cursive;
  color: #222;
  overflow: scroll;
  overflow-x: hidden;
  min-width: 320px;
}

h1 {
  font-size: 60px;
  text-align: left;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

header {
  display: block;
  background: #F0DCF4;
  background-image: url("../images/hero_bcg.png");
}

.hero-img-container {
  margin: auto;
  max-width: 1200px;
  position: relative;
}

.hero-img-container h1 {
  position: absolute;
  color: #82598A;
  top: 40%;
  left: 50px;
}

@media (max-width: 768px) {
  .hero-img-container h1 {
    top: 30%;
  }
}

@media (min-width: 770px) and (max-width: 1200px) {
  .hero-img-container h1 {
    top: 36%;
  }
}

.hero-img-container img {
  content: url("../images/hero-image.png");
  width: 100%;
}

@media (max-width: 768px) {
  .hero-img-container img {
    content: url("../images/hero-image-mobile.png");
  }
}

.portfolio {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  background: #9096B8;
  background-image: url("../images/gallery_bcg.png");
  background-position: center;
}

@media (max-width: 768px) {
  .portfolio {
    padding-top: 20px;
  }
}

.portfolio-title {
  padding-left: 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.portfolio-title h1 {
  color: #ECF0F1;
  text-align: center;
}

@media (max-width: 768px) {
  .portfolio-title h1 {
    font-size: 35px;
  }
}

@media (max-width: 992px) {
  .portfolio-title {
    padding-left: 0px;
  }
}

.main {
  padding: 0px 20px 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.gallery li {
  padding: 30px 50px 30px 50px;
  float: left;
  display: block;
  width: 33.333%;
}

@media (max-width: 768px) {
  .gallery li {
    width: 50%;
    padding: 10px 25px 10px 25px;
  }
}

.work-item {
  width: 100%;
}

.load-more {
  margin: auto auto;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .load-more {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.load-more img {
  width: 150px;
}

@media (max-width: 768px) {
  .load-more img {
    width: 80px;
  }
}

.contact {
  color: #7E475A;
  margin: 0 auto;
  width: 100%;
  background: #F393B4;
  background-image: url("../images/mail_bcg.png");
  background-position: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact h1 {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  padding-left: 50px;
}

@media (max-width: 768px) {
  .contact h1 {
    padding-left: 0px;
    text-align: center;
  }
}

.contact a {
  color: #7E475A;
  line-height: 3;
  display: block;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 768px) {
  .contact a {
    font-size: 25px;
  }
}
