html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  font-family: 'Norican', cursive;
  color: #222;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

h1 {
  font-size: 60px;
  text-align: left;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

.ng-view {
  width: 100%;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    -moz-transform: scale(0.1);
  }
  to {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    -ms-transform: scale(0.1);
  }
  to {
    opacity: 1;
    -ms-transform: scale(1);
  }
}

@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinnerRotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spinnerRotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

.init-bcg {
  background: #87E5FF;
  height: 100%;
  width: 100%;
  padding: 50px;
  color: #00647F;
}

.init-bcg a {
  color: #00647F;
}

.init-bcg h1 {
  text-align: center;
  margin: 0px 0px;
}

.init-bcg .init-container {
  width: 700px;
  margin: auto auto;
}

.init-bcg .init-container img {
  margin-top: 200px;
  width: 350px;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -175px;
  -webkit-animation: fadein 3s ease-in-out, spinnerRotate 15s linear infinite;
  -moz-animation: fadein 3s ease-in-out, spinnerRotate 15s linear infinite;
  -ms-animation: fadein 3s ease-in-out, spinnerRotate 15s linear infinite;
}

@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-5px);
  }
}

@-moz-keyframes levitate {
  0% {
    -moz-transform: translateY(-5px);
  }
  50% {
    -moz-transform: translateY(3px);
  }
  100% {
    -moz-transform: translateY(-5px);
  }
}

.enter-btn {
  margin-top: 50px;
  text-align: center;
  -webkit-animation: fadein 3s ease-in-out, levitate 5s infinite;
  -moz-animation: fadein 3s ease-in-out, levitate 5s infinite;
}

.enter-btn h1 {
  font-size: 50px;
  display: inline-block;
  width: 180px;
  border: 2px solid #00647F;
  cursor: pointer;
}

.group1 {
  height: 725px;
  position: relative;
  background-size: auto 726px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.group1 .main-title {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  color: #82598A;
}

.group1 .bird-and-tree {
  position: absolute;
  width: 190px;
  height: 116px;
  left: 50%;
  top: 50%;
  margin-left: -170px;
  background-image: url("../images/bird-and-tree.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.group1 .window-and-wall {
  position: absolute;
  width: 1051px;
  height: 726px;
  left: 50%;
  margin-left: -525px;
  background-image: url("../images/window-and-wall.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.group1 .girl-and-table {
  position: absolute;
  width: 672px;
  height: 339px;
  left: 50%;
  bottom: 0px;
  margin-left: -336px;
  background-image: url("../images/girl-and-table.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.group1 .blue-sky {
  position: absolute;
  background-color: #A9E8F5;
  width: 480px;
  height: 100%;
  left: 50%;
  margin-left: -240px;
}

.group1 .background {
  position: absolute;
  background: #F2D3FF;
  width: 100%;
  height: 726px;
}

.group2 {
  position: relative;
  background-color: #9096B8;
  background-size: auto 1041px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  height: 1041px;
}

.group2 .portfolio-title {
  position: absolute;
  color: #ECF0F1;
  text-align: center;
  width: 100%;
  top: 30px;
}

.group2 .sitting-girl {
  position: absolute;
  width: 795px;
  height: 307px;
  left: 53%;
  bottom: 0%;
  margin-left: -397px;
  background-image: url("../images/sitting-girl.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.group2 .film-canvas {
  border-radius: 20px;
  position: absolute;
  height: 660px;
  width: 950px;
  top: 130px;
  left: 50%;
  margin-left: -475px;
  background: #EBEFF6;
}

.main {
  padding: 0px 20px 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.gallery li {
  padding: 30px 50px 30px 50px;
  float: left;
  display: block;
  width: 33.333%;
}

@media (max-width: 768px) {
  .gallery li {
    width: 50%;
    padding: 10px 25px 10px 25px;
  }
}

.work-item {
  width: 100%;
}

.load-more {
  margin: auto auto;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .load-more {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.load-more img {
  width: 150px;
}

@media (max-width: 768px) {
  .load-more img {
    width: 80px;
  }
}

.contact {
  color: #7E475A;
  margin: 0 auto;
  width: 100%;
  background: #F393B4;
  background-image: url("../images/mail_bcg.png");
  background-position: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact h1 {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  padding-left: 50px;
}

@media (max-width: 768px) {
  .contact h1 {
    padding-left: 0px;
    text-align: center;
  }
}

.contact a {
  color: #7E475A;
  line-height: 3;
  display: block;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 768px) {
  .contact a {
    font-size: 25px;
  }
}
