//output:home.html
div(ng-controller="MainController")
  div.group1          
      div.background
      div.blue-sky
      div.bird-and-tree
        img
      div.window-and-wall
                            
      div.girl-and-table
          
      h1.main-title "Judit imád marcipán figurákat készíteni…"              
      
  div.group2        
    div.film-canvas
    div.sitting-girl
              
    h1.portfolio-title "...nézd meg a munkáit..."
            
                
  div.contact
    h1 "…jelezz ha szeretnél Te is egyet."
    a(href="mailto:jucuska10@gmail.com") jucuska10@gmail.com
