//output:index.html
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Judit Kosa
    meta(name="description", content="")
    meta(name="author", content="Ladislav Szolik")
    meta(name="viewport", content="width=device-width, initial-scale=1")    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Norican")  
    link(rel="stylesheet", href="css/bootstrap.min.css")    
    link(rel="stylesheet", href="css/style.css")    
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
   
  body(ng-app='marziApp')  
    div.ng-view    
    script(src="app/app.js")
      

              
              
